@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: marquee infinite 500s linear;
}

body {
  background-color: black;
  color: white;
  width: 100vw;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  border: 0;
}

.bookdemo {
  overflow: hidden;
  border-radius: 10px;
  background: radial-gradient(
      231.94% 231.94% at 50% 100%,
      #8a6cff 0,
      rgba(53, 41, 128, 0) 25.24%
    ),
    linear-gradient(180deg, rgba(243, 238, 255, 0), rgba(243, 238, 255, 0.04)),
    rgba(147, 130, 255, 0.01);
}

.bookdemo:hover {
  background: radial-gradient(
      231.94% 231.94% at 50% 100%,
      #8a6cff 0,
      #554595 25.24%
    ),
    linear-gradient(180deg, rgba(243, 238, 255, 0), rgba(243, 238, 255, 0.04)),
    rgba(147, 130, 255, 0.01);
}

.text-gradient-2023 {
  background: linear-gradient(
    50deg,
    #714dff,
    #9c83ff 31.28%,
    #e151ff 77.97%,
    #fff759 95.64%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.bg-custom-1 {
  background: radial-gradient(
      231.94% 231.94% at 50% 100%,
      #c88bc4 0,
      rgba(200, 139, 196, 0) 25.24%
    ),
    linear-gradient(180deg, rgba(243, 238, 255, 0), rgba(243, 238, 255, 0.04)),
    rgba(200, 139, 196, 0.01);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4), 0 2px 5px 0 rgba(0, 0, 0, 0.39),
    0 8px 8px 0 rgba(0, 0, 0, 0.34), 0 19px 11px 0 rgba(0, 0, 0, 0.2),
    0 34px 14px 0 rgba(0, 0, 0, 0.06), 0 53px 15px 0 rgba(0, 0, 0, 0.01),
    inset 0 0 12px 0 hsla(0, 0%, 100%, 0.08), inset 0 -8px 32px 0 #1e001c;
}

.bg-custom-1:hover {
  background: #c88bc4;
}

.hero_cubespinner__5nU4O {
  animation-name: hero_spincube__bGRiG;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 14s;
  transform-style: preserve-3d;
  transform-origin: -50% 30px;
  position: absolute;
  inset: 0;
}

@keyframes hero_spincube__bGRiG {
  0%,
  100% {
    transform: rotateX(0deg);
  }

  0%,
  25% {
    transform: rotateX(0deg);
  }
  33%,
  58% {
    transform: rotateX(120deg);
  }
  66%,
  92% {
    transform: rotateX(240deg);
  }
  100% {
    transform: rotateX(1turn);
  }
}

.hero_cubespinner__5nU4O div {
  position: absolute;
  inset: 0;
  height: 60px;
  text-align: center;
  background: linear-gradient(
    50deg,
    #714dff,
    #9c83ff 31.28%,
    #e151ff 77.97%,
    #fff759 95.64%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_cubespinner__5nU4O .hero_face1____5ZN {
  transform: translateZ(30px);
  -webkit-backface-visibility: hidden;
}

.hero_cubespinner__5nU4O .hero_face2__hWvJM {
  transform: rotateX(120deg) translateZ(30px);
  -webkit-backface-visibility: hidden;
}

.hero_cubespinner__5nU4O .hero_face3__qUXn4 {
  transform: rotateX(240deg) translateZ(30px);
  -webkit-backface-visibility: hidden;
}

.custom-shadows {
  background: hsla(0, 0%, 100%, 0.002);
  box-shadow: inset 0 1px 1px rgba(199, 211, 234, 0.12),
    inset 0 24px 48px rgba(199, 211, 234, 0.05);
}

.scroll__h {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.scroll__h::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit-based browsers */
}

.navigation-wrapper {
  position: relative;
}
